<launch>

	<rosparam file="$(find hyq2max_control)/config/hyq2max_custom_joint_pid.yaml" command="load" />


	<include file="$(find hyq2max_description)/launch/hyq2max_robot.launch" />


	<!--node name="hyq_joint_controller_manager" pkg="controller_manager" type="spawner"
    respawn="false" output="screen" ns="/hyq2max" args="lf_haa_joint_controller lf_hfe_joint_controller  lf_kfe_joint_controller lh_haa_joint_controller lh_hfe_joint_controller lh_kfe_joint_controller rh_haa_joint_controller rh_hfe_joint_controller rh_kfe_joint_controller rf_haa_joint_controller rf_hfe_joint_controller rf_kfe_joint_controller"/-->

	<!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="true" >
			<param name="use_gui" value="$(arg gui)"/>
			<param name="rate" value="50"/>
	</node>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
		<param name="publish_frequency" value="50" />
		<param name="rate" value="50" />
	</node-->

	<!--node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    	respawn="false" output="screen">
    	<remap from="/joint_states" to="/hyq2max/joint_states" />
  	</node-->

  	<node name="hyq_joint_controller_manager" pkg="controller_manager" type="spawner"
    respawn="false" output="screen" ns="/hyq2max" args="HyQ2maxJointsPositionController"/>


  	 <!-- send fake joint values -->
  	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	</node>

	<!-- Combine joint values -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

</launch>